<h1><%= title %></h1>
<h2>Enter a New Message!</h2>
<form method="POST" action="/new">
  <label for="user">Name:</label>
  <input type="text" id="user" name="user" />
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" />
  <input type="submit" value="Submit" />
</form>
